.navbar{
    height: 100px;
}

.navLink, .navLink-header{
    font-size: 25px;
}

.navLink-header{
    color: #cf0a2c;
    text-decoration: none;
}

.navbar-toggler-icon, .navbar-toggler, .collapsed{
    background-color: #cf0a2c;
}

.show{
    background-color: whitesmoke;
}